# Vue、React build output
dist/
build/
node_modules/

# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
.flattened-pom.xml

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Logs
logs
*.log

# OS Specific Files
.DS_Store

# Editor Directories and Files
.vscode/
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Dependency Directories
node_modules
dist-ssr

# Lock Files
package-lock.json
yarn.lock

# Local Environment Files
*.local
