<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easymusic.mappers.UserInfoMapper">

	<!--实体映射-->
	<resultMap id="base_result_map" type="com.easymusic.entity.po.UserInfo">
		<!--用户ID-->
		<result column="user_id" property="userId"  />
		<!--邮箱-->
		<result column="email" property="email"  />
		<!--昵称-->
		<result column="nick_name" property="nickName"  />
		<!--用户头像-->
		<result column="avatar" property="avatar"  />
		<!--密码-->
		<result column="password" property="password"  />
		<!--状态-->
		<result column="status" property="status"  />
		<!--创建时间-->
		<result column="create_time" property="createTime"  />
		<!--最后登录时间-->
		<result column="last_login_time" property="lastLoginTime"  />
		<!--积分-->
		<result column="integral" property="integral"  />
	</resultMap>


	<!-- 通用查询结果列-->
	<sql id="base_column_list">
		 u.user_id,u.email,u.nick_name,u.avatar,u.password,
		 u.status,u.create_time,u.last_login_time,u.integral
	</sql>

	<sql id="base_condition_filed">
			<if test="query.userId != null and query.userId!=''">
				 and  u.user_id = #{query.userId}
			</if>
			<if test="query.email != null and query.email!=''">
				 and  u.email = #{query.email}
			</if>
			<if test="query.nickName != null and query.nickName!=''">
				 and  u.nick_name = #{query.nickName}
			</if>
			<if test="query.avatar != null and query.avatar!=''">
				 and  u.avatar = #{query.avatar}
			</if>
			<if test="query.password != null and query.password!=''">
				 and  u.password = #{query.password}
			</if>
			<if test="query.status != null">
				 and  u.status = #{query.status}
			</if>
			<if test="query.createTime != null and query.createTime!=''">
				 <![CDATA[ and  u.create_time=str_to_date(#{query.createTime}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.lastLoginTime != null and query.lastLoginTime!=''">
				 <![CDATA[ and  u.last_login_time=str_to_date(#{query.lastLoginTime}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.integral != null">
				 and  u.integral = #{query.integral}
			</if>
	</sql>

	<!-- 通用查询条件列-->
	<sql id="query_condition">
	 <where>
			<include refid="base_condition_filed" />
			<if test="query.userIdFuzzy!= null  and query.userIdFuzzy!=''">
				 and  u.user_id like concat('%', #{query.userIdFuzzy}, '%')
			</if>
			<if test="query.emailFuzzy!= null  and query.emailFuzzy!=''">
				 and  u.email like concat('%', #{query.emailFuzzy}, '%')
			</if>
			<if test="query.nickNameFuzzy!= null  and query.nickNameFuzzy!=''">
				 and  u.nick_name like concat('%', #{query.nickNameFuzzy}, '%')
			</if>
			<if test="query.avatarFuzzy!= null  and query.avatarFuzzy!=''">
				 and  u.avatar like concat('%', #{query.avatarFuzzy}, '%')
			</if>
			<if test="query.passwordFuzzy!= null  and query.passwordFuzzy!=''">
				 and  u.password like concat('%', #{query.passwordFuzzy}, '%')
			</if>
			<if test="query.createTimeStart!= null and query.createTimeStart!=''">
				 <![CDATA[ and  u.create_time>=str_to_date(#{query.createTimeStart}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.createTimeEnd!= null and query.createTimeEnd!=''">
				 <![CDATA[ and  u.create_time< date_sub(str_to_date(#{query.createTimeEnd},'%Y-%m-%d'),interval -1 day) ]]>
			</if>
			<if test="query.lastLoginTimeStart!= null and query.lastLoginTimeStart!=''">
				 <![CDATA[ and  u.last_login_time>=str_to_date(#{query.lastLoginTimeStart}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.lastLoginTimeEnd!= null and query.lastLoginTimeEnd!=''">
				 <![CDATA[ and  u.last_login_time< date_sub(str_to_date(#{query.lastLoginTimeEnd},'%Y-%m-%d'),interval -1 day) ]]>
			</if>
	 </where>
	</sql>

	<!-- 查询集合-->
	<select id="selectList" resultMap="base_result_map" >
		 SELECT <include refid="base_column_list" /> FROM user_info u <include refid="query_condition" />
		 <if test="query.orderBy!=null">
			 order by ${query.orderBy}
		 </if>
		 <if test="query.simplePage!=null">
			 limit #{query.simplePage.start},#{query.simplePage.end}
		 </if>
	</select>

	<!-- 查询数量-->
	<select id="selectCount" resultType="java.lang.Integer" >
		 SELECT count(1) FROM user_info u <include refid="query_condition" />
	</select>

	<!-- 插入 （匹配有值的字段）-->
	<insert id="insert" parameterType="com.easymusic.entity.po.UserInfo">
		 INSERT INTO user_info
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="bean.userId != null">
				 user_id,
			</if>
			<if test="bean.email != null">
				 email,
			</if>
			<if test="bean.nickName != null">
				 nick_name,
			</if>
			<if test="bean.avatar != null">
				 avatar,
			</if>
			<if test="bean.password != null">
				 password,
			</if>
			<if test="bean.status != null">
				 status,
			</if>
			<if test="bean.createTime != null">
				 create_time,
			</if>
			<if test="bean.lastLoginTime != null">
				 last_login_time,
			</if>
			<if test="bean.integral != null">
				 integral,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="bean.userId!=null">
				 #{bean.userId},
			</if>
			<if test="bean.email!=null">
				 #{bean.email},
			</if>
			<if test="bean.nickName!=null">
				 #{bean.nickName},
			</if>
			<if test="bean.avatar!=null">
				 #{bean.avatar},
			</if>
			<if test="bean.password!=null">
				 #{bean.password},
			</if>
			<if test="bean.status!=null">
				 #{bean.status},
			</if>
			<if test="bean.createTime!=null">
				 #{bean.createTime},
			</if>
			<if test="bean.lastLoginTime!=null">
				 #{bean.lastLoginTime},
			</if>
			<if test="bean.integral!=null">
				 #{bean.integral},
			</if>
		 </trim>
	</insert>

	<!-- 插入或者更新 （匹配有值的字段）-->
	<insert id="insertOrUpdate" parameterType="com.easymusic.entity.po.UserInfo">
		 INSERT INTO user_info
		 <trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.userId != null">
				 user_id,
			</if>
			<if test="bean.email != null">
				 email,
			</if>
			<if test="bean.nickName != null">
				 nick_name,
			</if>
			<if test="bean.avatar != null">
				 avatar,
			</if>
			<if test="bean.password != null">
				 password,
			</if>
			<if test="bean.status != null">
				 status,
			</if>
			<if test="bean.createTime != null">
				 create_time,
			</if>
			<if test="bean.lastLoginTime != null">
				 last_login_time,
			</if>
			<if test="bean.integral != null">
				 integral,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.userId!=null">
				 #{bean.userId},
			</if>
			<if test="bean.email!=null">
				 #{bean.email},
			</if>
			<if test="bean.nickName!=null">
				 #{bean.nickName},
			</if>
			<if test="bean.avatar!=null">
				 #{bean.avatar},
			</if>
			<if test="bean.password!=null">
				 #{bean.password},
			</if>
			<if test="bean.status!=null">
				 #{bean.status},
			</if>
			<if test="bean.createTime!=null">
				 #{bean.createTime},
			</if>
			<if test="bean.lastLoginTime!=null">
				 #{bean.lastLoginTime},
			</if>
			<if test="bean.integral!=null">
				 #{bean.integral},
			</if>
		 </trim>
		 on DUPLICATE key update 
		 <trim prefix="" suffix="" suffixOverrides=",">
			<if test="bean.userId!=null">
				 user_id = VALUES(user_id),
			</if>
			<if test="bean.email!=null">
				 email = VALUES(email),
			</if>
			<if test="bean.nickName!=null">
				 nick_name = VALUES(nick_name),
			</if>
			<if test="bean.avatar!=null">
				 avatar = VALUES(avatar),
			</if>
			<if test="bean.password!=null">
				 password = VALUES(password),
			</if>
			<if test="bean.status!=null">
				 status = VALUES(status),
			</if>
			<if test="bean.createTime!=null">
				 create_time = VALUES(create_time),
			</if>
			<if test="bean.lastLoginTime!=null">
				 last_login_time = VALUES(last_login_time),
			</if>
			<if test="bean.integral!=null">
				 integral = VALUES(integral),
			</if>
		 </trim>
	</insert>

	<!-- 添加 （批量插入）-->
	<insert id="insertBatch" parameterType="com.easymusic.entity.po.UserInfo">
		 INSERT INTO user_info(
			 user_id,
			 email,
			 nick_name,
			 avatar,
			 password,
			 status,
			 create_time,
			 last_login_time,
			 integral
		 )values
		 <foreach collection="list" item="item" separator=",">
			 (
				 #{item.userId},
				 #{item.email},
				 #{item.nickName},
				 #{item.avatar},
				 #{item.password},
				 #{item.status},
				 #{item.createTime},
				 #{item.lastLoginTime},
				 #{item.integral}
			 )
		 </foreach>
	</insert>

	<!-- 批量新增修改 （批量插入）-->
	<insert id="insertOrUpdateBatch" parameterType="com.easymusic.entity.po.UserInfo">
		 INSERT INTO user_info(
			 user_id,
			 email,
			 nick_name,
			 avatar,
			 password,
			 status,
			 create_time,
			 last_login_time,
			 integral
		 )values
		 <foreach collection="list" item="item" separator=",">
			 (
				 #{item.userId},
				 #{item.email},
				 #{item.nickName},
				 #{item.avatar},
				 #{item.password},
				 #{item.status},
				 #{item.createTime},
				 #{item.lastLoginTime},
				 #{item.integral}
			 )
		 </foreach>
			on DUPLICATE key update 
			user_id = VALUES(user_id),
			email = VALUES(email),
			nick_name = VALUES(nick_name),
			avatar = VALUES(avatar),
			password = VALUES(password),
			status = VALUES(status),
			create_time = VALUES(create_time),
			last_login_time = VALUES(last_login_time),
			integral = VALUES(integral)
	</insert>

	<!--多条件修改-->
	<update id="updateByParam" parameterType="com.easymusic.entity.query.UserInfoQuery">
		 UPDATE user_info u
 		 <set> 
			<if test="bean.userId != null">
				 user_id = #{bean.userId},
			</if>
			<if test="bean.email != null">
				 email = #{bean.email},
			</if>
			<if test="bean.nickName != null">
				 nick_name = #{bean.nickName},
			</if>
			<if test="bean.avatar != null">
				 avatar = #{bean.avatar},
			</if>
			<if test="bean.password != null">
				 password = #{bean.password},
			</if>
			<if test="bean.status != null">
				 status = #{bean.status},
			</if>
			<if test="bean.createTime != null">
				 create_time = #{bean.createTime},
			</if>
			<if test="bean.lastLoginTime != null">
				 last_login_time = #{bean.lastLoginTime},
			</if>
			<if test="bean.integral != null">
				 integral = #{bean.integral},
			</if>
 		 </set>
 		 <include refid="query_condition" />
	</update>

	<!--多条件删除-->
	<delete id="deleteByParam">
		 delete u from user_info u
 		 <include refid="query_condition" />
	</delete>

	<!-- 根据UserId修改-->
	<update id="updateByUserId" parameterType="com.easymusic.entity.po.UserInfo">
		 UPDATE user_info
 		 <set> 
			<if test="bean.email != null">
				 email = #{bean.email},
			</if>
			<if test="bean.nickName != null">
				 nick_name = #{bean.nickName},
			</if>
			<if test="bean.avatar != null">
				 avatar = #{bean.avatar},
			</if>
			<if test="bean.password != null">
				 password = #{bean.password},
			</if>
			<if test="bean.status != null">
				 status = #{bean.status},
			</if>
			<if test="bean.createTime != null">
				 create_time = #{bean.createTime},
			</if>
			<if test="bean.lastLoginTime != null">
				 last_login_time = #{bean.lastLoginTime},
			</if>
			<if test="bean.integral != null">
				 integral = #{bean.integral},
			</if>
 		 </set>
 		 where user_id=#{userId}
	</update>

	<!-- 根据UserId删除-->
	<delete id="deleteByUserId">
		delete from user_info where user_id=#{userId}
	</delete>

	<!-- 根据PrimaryKey获取对象-->
	<select id="selectByUserId" resultMap="base_result_map" >
		select <include refid="base_column_list" /> from user_info u where user_id=#{userId}
	</select>

	<!-- 根据Email修改-->
	<update id="updateByEmail" parameterType="com.easymusic.entity.po.UserInfo">
		 UPDATE user_info
 		 <set> 
			<if test="bean.userId != null">
				 user_id = #{bean.userId},
			</if>
			<if test="bean.nickName != null">
				 nick_name = #{bean.nickName},
			</if>
			<if test="bean.avatar != null">
				 avatar = #{bean.avatar},
			</if>
			<if test="bean.password != null">
				 password = #{bean.password},
			</if>
			<if test="bean.status != null">
				 status = #{bean.status},
			</if>
			<if test="bean.createTime != null">
				 create_time = #{bean.createTime},
			</if>
			<if test="bean.lastLoginTime != null">
				 last_login_time = #{bean.lastLoginTime},
			</if>
			<if test="bean.integral != null">
				 integral = #{bean.integral},
			</if>
 		 </set>
 		 where email=#{email}
	</update>

	<!-- 根据Email删除-->
	<delete id="deleteByEmail">
		delete from user_info where email=#{email}
	</delete>

	<!-- 根据PrimaryKey获取对象-->
	<select id="selectByEmail" resultMap="base_result_map" >
		select <include refid="base_column_list" /> from user_info u where email=#{email}
	</select>

</mapper>